* {
  box-sizing: border-box;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

html {
  height: auto;
  min-height: 100%;
  text-size-adjust: 100%;
  min-width: 375px;
}